<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Interop.EA" version="12.1.1228" targetFramework="net452" />
  <package id="LL.MDE.DataAccess.EnAr.Hybrid" version="1.2.63.53-dev" targetFramework="net452" />
  <package id="LL.MDE.DataModels.EnAr" version="2.2.15329.48-dev" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
</packages>